<div class="center"><h2 class="title"><%= title %>確認画面</h2></div>
<div class="show_content">
  <h3 class="center">以下の内容で、送信する。</h3>

  <%= form_with(model: @blog, url: url, local: true) do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :content %>

    <table>
      <tr>
        <td>タイトル:</td>
        <td><%= @blog.title %></td>
      </tr>
      <tr>
        <td>本文:</td>
        <td><%= @blog.content %></td>
      </tr>
    </table>
    <div class="center margin">
      <% if @blog.image.url %>
        <%= image_tag @blog.image.url, class: 'image' %>
        <%= f.hidden_field :image_cache %>
      <% end %>
    </div>
    <div class="center margin">
      <%= f.submit  "確定" %>
    </div>
  <% end %>

  <%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :content %>
    <%= f.hidden_field :image_cache %>
    <div class="center margin">
      <%= f.submit "もどる", name: 'back' %>
    </div>
  <% end %>
</div>
