<h2 class="title">ブログ一覧</h2>

<% @blogs.each do |blog| %>
  <div class="blog clearfix">
    <p>#<%= blog.id %></p>
    <% if blog.image.url %>
      <%= image_tag blog.image.url, class: 'image' %>
    <% end %>
    <div class="content">
      <p class="under">投稿者:<%= blog.user.name %></p>
      <h4><b><%= blog.title %></b></h4>
      <p class="text"><%= blog.content %></p>
      <div class="bottuns">
        <%= link_to '詳細', blog_path(blog.id), class: 'btn btn-default' %>
        <% if logged_in? %>
          <% if blog.user_id == current_user.id %>
            <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default' %>
            <%= link_to '削除', blog_path(blog.id), class: 'btn btn-default', method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
