<h2 class="title">詳細画面</h2>
<ul class="row blog clearfix">
  <li class="col-md-4">
    <p>#<%= @blog.id %></p>
    <% if @blog.image.url %>
      <%= image_tag @blog.image.url, class: 'image' %>
    <% else %>
      <%= image_tag 'twitterclone_icon.png', class: "icon" %>
    <% end %>
  </li>
  <li class="content col-md col-md-8 text_left">
    <p class="under">
      <% if @blog.user.image.url %>
        <%= image_tag @blog.user.image.url, class: "icon" %>
      <% end %>
      <strong><%= @blog.user.name %></strong>
    </p>
    <h4 class="margin"><b><%= @blog.title %></b></h4>
    <p class="text"><%= @blog.content %></p>
    <div class="bottuns">
      <% if logged_in? %>
        <% unless @blog.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'いいね取消', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'いいね', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
        <% if @blog.user_id == current_user.id %>
          <%= link_to "編集", edit_blog_path(@blog.id), class: 'btn btn-default' %>
          <%= link_to '削除', blog_path(@blog.id), class: 'btn btn-default', method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
        <% end %>
      <% end %>
    </div>
  </li>
</ul>

<p class="bottuns"><%= link_to "タイムライン", blogs_path, class: 'btn btn-default' %></p>
