<div class="center"><h2 class="title">詳細画面</h2></div>

<div class="blog">
  <p class="under">
    <% if @blog.user.image.url %>
      <%= image_tag @blog.user.image.url, class: "icon" %>
    <% end %>
    <strong><%= @blog.user.name %></strong>
  </p>
  <h4 class="margin center"><strong class="margin center line-break"><%= @blog.title %></strong></h4>
  <div class="content">
  <% if @blog.image.url %>
    <div class="center"><%= image_tag @blog.image.url, class: 'image margin' %></div>
  <% end %>
  <p class="line-break"><%= @blog.content %></p>
  </div>
  <div class="center margin_top_small">
    <% if logged_in? %>
      <% unless @blog.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'いいね取消', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'いいね', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <% if @blog.user_id == current_user.id %>
        <%= link_to "編集", edit_blog_path(@blog.id), class: 'btn btn-default' %>
        <%= link_to '削除', blog_path(@blog.id), class: 'btn btn-default', method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="center"><%= link_to "タイムライン", blogs_path, class: 'btn btn-default' %></div>
