<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Clone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top">
      <h1 class="top_title">Instagram Clone</h1>
    </div>
    <div class="bottuns">
      <%= link_to "Sign up", new_user_path, class: 'btn btn-default btn-lg' %>
      <%= link_to "Log in", new_session_path, class: 'btn btn-default btn-lg' %>
    </div>
  </body>
</html>
