<h2 class="title"><%= @user.name %>のページ</h2>

<div class="show_content">
  <p><b>名前</b>:<br> <%= @user.name %></p>
  <p><b>メールアドレス</b>:<br> <%= @user.email %></p>

  <% if @user.image %>
    <p><b>アイコン画像</b></p>
    <%= image_tag @user.image.url, class: 'image' %>
  <% end %>

  <p><b>お気に入り</b></p>
  <% @favorites_blogs.each do |blog| %>
    <div class=" panel panel-default">
      <div class="panel-heading">
        <%= blog.title %>
      </div>
      <div class="panel-body">
        <%= blog.content %></div>
      <div class="bottuns">
        <%= link_to '詳細', blog_path(blog.id), class: 'btn btn-default margin' %>
      </div>
    </div>
  <% end %>
</div>
