<h2 class="title"><%= @user.name %>のページ</h2>

<p>メールアドレス: <%= @user.email %></p>>

<% if @user.image %>
  <p>アイコン画像:</p>
  <%= image_tag @user.image.url, class: 'image' %>
<% end %>

<p>お気に入り:</p>
<% @favorites_blogs.each do |blog| %>
  <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-3 panel panel-info">
    <div class="panel-heading">
      <%= blog.title %>
    </div>
    <div class="panel-body">
      <%= blog.content %></div>
    <div class="blog-links">
      <%= link_to '詳細', blog_path(blog.id), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
