
<%= form_with(model: @contact, local: true) do |f| %>

  <div class="show_content">
    <p class="center">＊改善した方が良い点がございましたらご指摘願います＊</p>

    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, id: :contact_name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email, id: :contact_email %></td>
      </tr>
      <tr>
        <td><%= f.label :content %></td>
        <td><%= f.text_area :content, id: :contact_content %></td>
      </tr>
    </table>
    <div class="center margin"><%= f.submit "送信" %></div>
  </div>
<% end %>
